.Navbar {
    position: fixed;
    top: 33px;
    right: 0px;
    display: flex;
    justify-content: center;
}

.Navbar_btn {
    padding: 10px 40px;
    font-size: 18px;
    margin: 0px 20px;
    cursor: pointer;
    transition: all 0.5 ease-in-out;
}